body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

canvas {
    background: black;
    border: 2px solid white;
    margin: 10px;
}

#menu {
    background: #222;
    border: 2px solid white;
    padding: 20px;
    display: inline-block;
    margin-bottom: 20px;
}
